
    .CollectionItem  * {
        width: 688px;
        line-height: 200%;
        margin: 0 auto; 
    }

    .ContentItem-time{
        font-weight: lighter;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .CollectionItem  h1, h2, h3, h4, h5, h6, p {
        margin-top: 35px;
        margin-bottom: 35px;
    }
