
    .CollectionItem  *{
        width: 43rem;
        line-height: 200%;
        margin: 2.2rem auto; 
        display: block;
    }

    .ContentItem-time{
        width: 43rem;
        font-weight: lighter;
        margin: 1.6rem auto;
        display: block;
    }
    .ContentItem-time * {
        display: inline;
    }

    .CollectionItem  b {
        display: inline;
    } 

    .CollectionItem  p > a {
        display: inline;
    } 